.dirtyCell {
	-fx-background-color: rgb(241.0,163.0,170.0) ;
}

.dirtyCell:selected {
	-fx-background-color: rgb(214.0,176.0,176.0);
}

.centerCell {
	-fx-alignment: baseline-center;
}

.textHeader {
	-fx-font-size: 20.0px;
}

.formLabel {
	-fx-text-fill: #333333;
	-fx-alignment: center-right;
}